@charset "UTF-8";
body{font-family: 'Noto Sans KR', sans-serif;}

header#amazon_header{position:relative; width:100%; min-width:900px; height:55vh; background-color:#F1FFCD; overflow:hidden;}

/*--------------------------------------
----------------gnb start--------------- 헤더 글로벌 내비게이션
--------------------------------------*/
	#gnb{position:relative; top:120px; width:900px; height:60px; border-radius:30px; margin:0 auto; background:#fff; box-shadow:3px 3px 10px -1px rgba(0,0,0,0.3); z-index:200;}
	#gnb>ul{width:100%;}
	#gnb>ul:after{content:""; display:block; clear:both;}
	#gnb>ul>li{float:left;}
	#gnb>ul>li>a{display:block; width:250px; line-height:60px; font-size:18px; font-weight:bold; text-align:center; letter-spacing:2px; color:#eee; transition:0.5s;}
	#gnb>ul>li:first-child>a{width:200px;}
	#gnb>ul>li:last-child>a{width:200px;}
	#gnb>ul>li.active>a{color:#333;}
		#navigator{position:absolute; top:0; left:0; width:200px; height:60px; border-radius:30px; border:9px solid #7f950e; box-sizing:border-box;}
/*--------------------------------------
--------------stem start---------------- 헤더 상단 덩쿨들
--------------------------------------*/
	.stem{position:absolute; width:100%; top:0; z-index:300}
	.stem>img{position:absolute; top:-50px;}
	.stem>img:nth-of-type(1){width:28%; top:-250px;}
	.stem>img:nth-of-type(2){width:38%; top:-220px;}
	.stem>img:nth-of-type(3){width:18%; right:10%; top:-250px;}
	.stem>img:nth-of-type(4){width:28%; right:0; top:-200px;}
	.stem>img:nth-of-type(5){width:1.8%; left:5%; top:-290px;}
	.stem>img:nth-of-type(6){width:1.5%; right:38%; z-index:200; top:-180px;}

/*--------------------------------------
--------------leafL start---------------- 헤더 왼쪽 잎사귀들
--------------------------------------*/
	.leafL{position:absolute; width:100%; top:0; z-index:100}
	.leafL>img{position:absolute; top:-30px; left:-20px; transform-origin:0 0;}
	.leafL>img:nth-of-type(1){width:19%; left:-2%; animation:leafL01 5s infinite;}
		@keyframes leafL01{
			0% {transform: rotate(-10deg)}
			50% {transform: rotate(0deg)}
			100% {transform: rotate(-10deg)}
		}
	.leafL>img:nth-of-type(2){width:11%; top:2vh; left:-4%; animation:leafL02 4.8s infinite;}
		@keyframes leafL02{
			0% {transform: rotate(-12deg)}
			50% {transform: rotate(5deg)}
			100% {transform: rotate(-12deg)}
		}
	.leafL>img:nth-of-type(3){width:13%; top:30vh; left:-2%; animation:leafL03 6s infinite; transform-origin:0 100%;}
		@keyframes leafL03{
			0% {transform: rotate(5deg)}
			50% {transform: rotate(10deg)}
			100% {transform: rotate(5deg)}
		}
	.leafL>img:nth-of-type(4){width:14%; top:38vh; left:-2%; animation:leafL04 6s infinite; transform-origin:0 100%;}
		@keyframes leafL04{
			0% {transform: rotate(0deg)}
			50% {transform: rotate(10deg)}
			100% {transform: rotate(0deg)}
		}

/*--------------------------------------
--------------leafR start--------------- 헤더 오른쪽 잎사귀들
--------------------------------------*/
	.leafR{position:absolute; width:100%; top:0; right:0; z-index:100}
	.leafR>img{position:absolute; top:-30px; right:-20px; transform-origin:100% 0;}
	.leafR>img:nth-of-type(1){width:24%; right:-4%; animation:leafR01 5s infinite;}
		@keyframes leafR01{
			0% {transform: rotate(-15deg)}
			50% {transform: rotate(-5deg)}
			100% {transform: rotate(-15deg)}
		}
	.leafR>img:nth-of-type(2){width:14%; top:1vh; right:-4%; animation:leafR02 4.8s infinite;}
		@keyframes leafR02{
			0% {transform: rotate(-12deg)}
			50% {transform: rotate(5deg)}
			100% {transform: rotate(-12deg)}
		}
	.leafR>img:nth-of-type(3){width:15%; top:32vh; right:0%; animation:leafR03 4s infinite; transform-origin:100% 100%;}
		@keyframes leafR03{
			0% {transform: rotate(5deg)}
			50% {transform: rotate(8deg)}
			100% {transform: rotate(5deg)}
		}

/*--------------------------------------
--------------bush start--------------- 헤더 가운데 덤불들
--------------------------------------*/
	.bush{position:absolute; width:100%; height:55vh; top:0; right:0;}
	.bush>img{position:absolute; width:50%; bottom:-300px;}
	.bush>img:nth-of-type(1){}
	.bush>img:nth-of-type(2){right:0;}
	.bush>img:nth-of-type(3){left:15%;}

/*--------------------------------------
--------------wave start---------------- 헤더 파도 움직임
--------------------------------------*/
	.wave{position:absolute; bottom:0; width:100%; height:100px; overflow:hidden; z-index:100;}
	.wave>img{position:absolute; bottom:0; width:120%; animation-iteration-count:infinite; animation-duration:15s; animation-timing-function:linear;}
	.wave>img:nth-child(1){left:-20%; animation-name:wave01;}
	.wave>img:nth-child(2){left:0%; animation-name:wave02;}
		@keyframes wave01{
			0%{left:-20%}
			50%{left:0%}
			100%{left:-20%}
		}
		@keyframes wave02{
			0%{left:0%}
			50%{left:-20%}
			100%{left:0%}
		}

/*--------------------------------------
----------------section start-----------
--------------------------------------*/
section#amazon_section{position:relative; width:100%; height:2000px; background-color:#897c67;}
	.fish_wrap{position:absolute; left:10%; top:300px;}
	.fish:hover{animation-play-state: paused}
	.fish:hover+div{display:block;}
	.fish{position:absolute; width:180px; top:300px left:10px; cursor:pointer; animation:fish 10s infinite;}
	.fish>img{width:100%;}
	.info{display:none; position:absolute; width:300px; top:-150px; background:#fff; height:150px; border-radius:20px;}
		@keyframes fish{
			0% {left:10px;}
			49% {transform:rotateY(0deg);}
			50% {left:400px; transform:rotateY(180deg);}
			99% {transform:rotateY(180deg)}
			100% {left:10px; transform:rotateY(0deg)}
		}